name: Playwright Tests

on:
  push:
    branches: [ master, feature/refactor-test-pr ]

permissions:
  contents: read
  pages: write
  id-token: write
  pull-requests: write

concurrency:
  group: pages
  cancel-in-progress: false

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm ci
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Run Playwright tests
        run: npx playwright test
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
      - name: Upload Playwright report to Pages artifact
        if: always()
        uses: actions/upload-pages-artifact@v3
        with:
          path: playwright-report/

  deploy:
    needs: test
    if: ${{ (github.event_name == 'push' || github.event_name == 'pull_request') && (success() || failure()) }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy report to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
      - name: Comment report link on PR
        if: ${{ github.event_name == 'pull_request' }}
        uses: actions/github-script@v7
        env:
          REPORT_URL: ${{ steps.deployment.outputs.page_url }}
        with:
          script: |
            const reportUrl = process.env.REPORT_URL;
            const { owner, repo } = context.repo;
            const issue_number = context.payload.pull_request.number;

            await github.rest.issues.createComment({
              owner,
              repo,
              issue_number,
              body: `Playwright report: ${reportUrl}`,
            });